<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar">
      GoGPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-text color="primary">
      <h3>College GPA Calculator</h3>
    </ion-text>
  </div>

  <div class="ion-padding">
    <div>
      <ion-item>
        <ion-label position="floating">Total GPA Units Attempted: </ion-label>
        <ion-input [(ngModel)]="total_units" type="number"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">Total Grade Points:</ion-label>
        <ion-input [(ngModel)]="total_points" type="number"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="ion-padding">
    <div class="ion-padding" *ngFor="let item of items; let i = index">
      <div>
        <ion-item>
          <ion-label position="floating">Course #{{i + 1}} (optional)</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
      <div class="box">
        <ion-item>
          <ion-label>Grade</ion-label>
          <ion-select  [(ngModel)]="mypoints[i]" placeholder="Select a grade">
            <ion-select-option value="4.00">A</ion-select-option>
            <ion-select-option value="3.67">A-</ion-select-option>
            <ion-select-option value="3.33">B+</ion-select-option>
            <ion-select-option value="3.00">B</ion-select-option>
            <ion-select-option value="2.67">B-</ion-select-option>
            <ion-select-option value="2.33">C+</ion-select-option>
            <ion-select-option value="2.00">C</ion-select-option>
            <ion-select-option value="1.67">C-</ion-select-option>
            <ion-select-option value="1.33">D+</ion-select-option>
            <ion-select-option value="1.00">D</ion-select-option>
            <ion-select-option value="0.67">D-</ion-select-option>
            <ion-select-option value="0.00">F</ion-select-option>
          </ion-select>
        </ion-item>
      </div>  
      <div>
        <ion-item>
          <ion-label position="floating">Credit: </ion-label>
          <ion-input [(ngModel)]="credits[i]"  type="number"></ion-input>
        </ion-item>
      </div >  
    </div>
    <div>
      <ion-row left>  
        <ion-col text-left>   
          <ion-button color="tertiary" (click)="addNewCourse()">+</ion-button>
        </ion-col> 
       </ion-row>
    </div>
    <div class="ion-padding">
      <ion-row center>  
        <ion-col text-center>   
          <ion-button color="primary" (click)="displayGPA()">Calculate</ion-button>
        </ion-col> 
       </ion-row>
    </div>
  </div>
</ion-content>
