<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar">
      GoGPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    College GPA Calculator
  </div>

  <div class="ion-padding">
    <div>
      <ion-item>
        <ion-label position="floating">Total GPA Units Attempted: </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">Total Grade Points:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="ion-padding">
    <div class="ion-padding">
      <div>
        <ion-item>
          <ion-label position="floating">Course:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
      <div class="box">
        <ion-item>
          <ion-label>Grade</ion-label>
          <ion-select placeholder="Select a grade">
            <ion-select-option value="4.0">A</ion-select-option>
            <ion-select-option value="3.7">A-</ion-select-option>
            <ion-select-option value="3.3">B+</ion-select-option>
            <ion-select-option value="3.0">B</ion-select-option>
            <ion-select-option value="2.7">B-</ion-select-option>
            <ion-select-option value="2.3">C+</ion-select-option>
            <ion-select-option value="2.0">C</ion-select-option>
            <ion-select-option value="1.7">C-</ion-select-option>
            <ion-select-option value="1.3">D+</ion-select-option>
            <ion-select-option value="1.0">D</ion-select-option>
            <ion-select-option value="0.7">D-</ion-select-option>
            <ion-select-option value="0.0">F</ion-select-option>
          </ion-select>
        </ion-item>
      </div>  
      <div>
        <ion-item>
          <ion-label position="floating">Credit:</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </div>  
    </div>
    <div>
      <ion-row center>  
        <ion-col text-center>   
          <ion-button color="primary">Add another class</ion-button>
        </ion-col> 
       </ion-row>
    </div>
  </div>
</ion-content>
